<nav ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/home" routerLinkActive="active">Home</a>
    <ng-template ngbNavContent>
      <p>aa</p>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/login" routerLinkActive="active">Test</a>
    <ng-template ngbNavContent>
      <p>bb</p>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="/about" routerLinkActive="active">About</a>
    <ng-template ngbNavContent>
      <p>cc</p>
    </ng-template>
  </ng-container>
</nav>

<router-outlet></router-outlet>